.wrapper {
    margin: 3px;
    background-color: white;
}

.wrapper .header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: gray 1px solid;
    font-size: 1.3rem;
    padding: 0 5px 5px;
    margin-bottom: 5px;
}

.childTaskWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 34px;
    margin-right: 6px;
}

.child-task {
    margin-bottom: 3px;
    display: inline-block;
    width: 90%;
    margin-right: 8px;
}

.fa-plus-circle {
    font-size: 1.5rem;
    cursor: pointer;
}

.fa-navicon,.fa-arrow-right,.fa-arrow-left {
    cursor: pointer;
    margin-right: 10px
}