<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>任务列表</title>
    <link href="//cdn.bootcss.com/tether/1.3.6/css/tether.min.css" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap-grid.min.css" rel="stylesheet"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>
    <link href="/css/task/task.css" rel="stylesheet"/>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body class="container-fluid" style="background-color: #eee; padding: 20px">
<div class="row">
    <div class="col-sm wrapper">
        <div class="header">
            <span>今日任务</span>
        </div>
        <div id="accordion1" role="tablist" aria-multiselectable="true">

        </div>
    </div>
    <div class="col-sm wrapper">
        <div class="header">
            <i class="fa fa-plus-circle addTask" style="position: absolute; right: 3px"></i>
            <span>本周任务</span>
        </div>
        <div id="accordion2" role="tablist" aria-multiselectable="true">

        </div>
    </div>
    <div class="col-sm wrapper">

    </div>
</div>

<!--添加任务开始-->
<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">添加新任务</h4>
            </div>
            <div class="modal-body">
                <form>
                    <fieldset class="form-group">
                        <label>时间</label>
                        <input type="text" name="planDate" class="form-control" placeholder="请选择时间"/>
                    </fieldset>
                    <fieldset class="form-group">
                        <label>主任务</label>
                        <input type="text" class="main-task form-control" placeholder="输入主任务"/>
                    </fieldset>
                    <fieldset class="form-group">
                        <label>子任务&nbsp;&nbsp;<i class="fa fa-plus-circle addChildTaskInput" style="font-size: 1.2rem"></i></label>
                        <!--<input class="child-task form-control form-control-sm" type="text" placeholder="子任务……"/><i class="fa fa-minus-circle deleteChildTaskInput"></i>-->
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="addTaskBtn">添加</button>
            </div>
        </div>
    </div>
</div>
<!--添加任务结束-->
<!--更新任务开始-->
<div class="modal fade" id="updateTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">更新新任务</h4>
            </div>
            <div class="modal-body">
                <form>
                    <fieldset class="form-group">
                        <label>时间</label>
                        <input type="text" name="planDate" class="form-control" placeholder="请选择时间"/>
                    </fieldset>
                    <fieldset class="form-group">
                        <label>主任务</label>
                        <input type="text" class="main-task form-control" placeholder="输入主任务"/>
                    </fieldset>
                    <fieldset class="form-group">
                        <label>子任务&nbsp;&nbsp;<i class="fa fa-plus-circle addChildTaskInput" style="font-size: 1.2rem"></i></label>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="updateTaskBtn">添加</button>
            </div>
        </div>
    </div>
</div>
<!--更新任务结束-->

</body>
<script src="/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.18.1/locale/zh-cn.js"></script>
<script src="/js/task/task.js"></script>
</html>